<!DOCTYPE html>
<html lang="en">
</div class= "voorkant">
</div class= "voorkant-inner">
</div class= "voorkant-front">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ivar Schuyt</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>