* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

div.main-container-inner {
  display: flex;
  width: 50%;
  border-style: solid;
  margin: 0 auto;
  padding: 3rem;
}

.main-links,
.main-rechts {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.text-about-me {
  padding-top: 1rem;
  width: 24 rem;
}

ul {
  list-style: none;
}

h2 {
  padding-bottom: 1.8rem;
}

.img-playlist,
.link-playlist {
  height: 15rem;
  width: 12rem;
}

article section,
form {
  /* padding: 1rem;
  width: 30rem;
  color: slate;
  text-align: center;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.27); */

  display: flex;
  z-index: 999;
}

.music-suggestions {
  padding: 1rem;
}

section {
  border: solid 1px black;
  padding: 0.5rem;
  margin-top: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
